<VirtualHost *:80>
    ServerName labtracker.eplt.washington.edu
    ServerAdmin cstimmel@uw.edu

    LogLevel Error

    KeepAlive Off

	RewriteEngine on
	RewriteCond %{REQUEST_URI} ^/(login.*)|^/(admin.*)
	RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [R,L]

    DocumentRoot /var/django/labtracker
    <Directory /var/django/labtracker>
        Options +ExecCGI
        Order allow,deny
        Allow from all
    </Directory>

    Alias /static/ /var/django/labtracker/static/
    Alias /media_admin/ /usr/local/lib/python2.6/dist-packages/django/contrib/admin/media/

    WSGIDaemonProcess labtracker user=www-data group=www-data processes=2 threads=5
    WSGIProcessGroup labtracker
    AddHandler wsgi-script .wsgi
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !^/media_admin/(.*)$
    RewriteCond %{REQUEST_FILENAME} !^/static/(.*)$
    RewriteRule ^(.*)$ /labtracker.wsgi/$1 [QSA,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName labtracker.eplt.washington.edu
    ServerAdmin cstimmel@uw.edu

    LogLevel Error

    SSLEngine on
    SSLCertificateFile    /etc/ssl/certs/labtracker.pem
    SSLCertificateKeyFile /etc/ssl/private/labtracker.key

    DocumentRoot /var/django/labtracker
    <Directory /var/django/labtracker>
        Options +ExecCGI
        Order allow,deny
        Allow from all
    </Directory>
    Alias /static/ /var/django/labtracker/static/
    Alias /media_admin/ /usr/local/lib/python2.6/dist-packages/django/contrib/admin/media/

    WSGIDaemonProcess labtracker-ssl user=www-data group=www-data processes=2 threads=5
    WSGIProcessGroup labtracker-ssl
    AddHandler wsgi-script .wsgi
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !^/media_admin/(.*)$
    RewriteCond %{REQUEST_FILENAME} !^/static/(.*)$
    RewriteRule ^(.*)$ /labtracker.wsgi/$1 [QSA,L]

    KeepAlive Off

	<LocationMatch ^/login.*$>
        AuthType UWNetID
        require valid-user
        PubcookieAppID "labtracker"
    </LocationMatch>

    <LocationMatch ^/logout.*$>
        AuthType UWNetID
        require valid-user
        PubcookieEndSession on
    </LocationMatch>

    <Location /PubCookie.reply>
        SetHandler pubcookie-post-reply
    </Location>
</VirtualHost>

