<VirtualHost *:80>
	RewriteEngine on
	RewriteCond %{REQUEST_URI} ^/(login.*)|^/(admin.*)
	RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [R,L]
	
	WSGIScriptAlias / /var/django/labtracker/labtracker.wsgi

	<Location /static>
		SetHandler None
	</Location>
	<LocationMatch "\.(jpg|css|png|gif|js)$">
		SetHandler None
	</LocationMatch>

</VirtualHost>

<VirtualHost *:443>
    SSLEngine on
    SSLCertificateFile    /etc/ssl/certs/server.pem
    SSLCertificateKeyFile /etc/ssl/private/server.key

	<LocationMatch ^/login.*$>
        AuthType UWNetID
        require valid-user
        PubcookieAppID "labtracker"
    </LocationMatch>

    <LocationMatch ^/logout.*$>
        AuthType UWNetID
        require valid-user
        PubcookieEndSession on
    </LocationMatch>

    <Location /PubCookie.reply>
        SetHandler pubcookie-post-reply
    </Location>
	
	WSGIScriptAlias / /var/django/labtracker/labtracker.wsgi
	
    <Location /static>
        SetHandler None
    </Location>
    <LocationMatch "\.(jpg|css|png|gif|js)$">
        SetHandler None
    </LocationMatch>
    
    Alias /media_admin/ "/usr/lib/python2.5/site-packages/django/contrib/admin/media/"
</VirtualHost>

