{% extends "base_full.html" %}

{% block heading %}Lab Statistics{% endblock %}
{% block pageHead %}

<!--Add external style sheet--!>
<!--[if IE]>
<link rel="stylesheet" href="{{MEDIA_URL}}css/Viewer/LabStats/showie.css" type="text/css" />
<![endif]-->

<link rel="stylesheet" href="{{MEDIA_URL}}css/Viewer/LabStats/show.css" type="text/css" />
{% endblock %}

{% block content %}
<a href="/views/LabStats/">Archives</a>
<h3>{{ title }}</h3>
<table class="stats_table">
    <tr id="title">
        <th>Location</th>
        <th>Logins</th>
        <th>Machines</th>
        <th>Logins per Machine</th>
        <th>Distinct Logins</th>
        <th>Distinct per Machine</th>
        <th>Average Seat Time</th>
        <th>Maximum Seat Time</th>
        <th>Std. Dev. Seat Time</th>
	</tr>
{% for data in entry %}
     <tr id="row">
        <td>{{ data.location }}</td>
        <td>{{ data.total_logins }}</td>
        <td>{{ data.total_items }}</td>
        <td>{{ data.logins_per_machine }}</td>
        <td>{{ data.total_distinct }}</td>
        <td>{{ data.distinct_per_machine }}</td>
        <td>{{ data.mean_time }} min</td>
        <td>{{ data.max_time }} min</td>
        <td>{{ data.stdev_time }} min</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
