{% extends "base_full.html" %}


{% block heading %}Lab Statistics{% endblock %}
{%block pageCSS %}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
{%endblock%}


{% block pageJS %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-timepicker-addon.js"></script>
    {{form.media}}

<script type="text/javascript">
$(document).ready(function() {
    $('#id_tags, label[for=id_tags]').hide();
    $('#id_description, label[for=id_description]').hide();
    $('#id_cache_interval').click(function() {
        if ($('#id_cache_interval').is(":checked")) {
            $('#id_tags, label[for=id_tags]').show();
            $('#id_description, label[for=id_description]').show();
        } else {
            $('#id_tags, label[for=id_tags]').hide();
            $('#id_description, label[for=id_description]').hide();
        }
    });
});

$(function() {
    $('#id_time_start').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm:ss',});
    $('#id_time_end').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm:ss',});
});
</script>
{% endblock %}
{% block pageHead %}
<style type="text/css">
.stats_table {
    border-collapse: collapse;
}
.stats_table td {
    border: #000000 1px solid;
    width: 85px;
}
</style>
{% endblock %}
{% block content %}
<a href="/views/LabStats">Archives</a>
<h3>Custom Time Frame</h3>
<p>Input the time interval as YYYY-MM-DD HH:MM:SS. (Year-Month-Day Hours:Minutes:Seconds)</p>
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<br />
{% if message %}
<p>{{ message }}</p>
{% endif %}
{% if location_stats %}
<h3>Statistics for Custom Time Interval from {{begin}} to {{end}}</h3>
<p>When viewing stats, all numbers are calcualted within the threshold. Numbers in parentheses are calculations done with all data. (Inside and outside the threshold)</p>
<h3>Set threshold: {{threshold}} hours. {% if threshold = 12.0 %}(default){% endif %}</h3>
<table class="stats_table">
    <tr>
        <th>Location</th>
        <th>Logins</th>
        <th>Machines Reporting</th>
        <th>Total Machines</th>
        <th>Logins per Machine</th>
        <th>Distinct Logins</th>
        <th>Distinct per Machine</th>
        <th>Average Seat Time</th>
        <th>Maximum Seat Time</th>
        <th>Std. Dev. Seat Time</th>
    </tr>
{% for data in location_stats %}
    <tr>
        <td>{{ data.location }}</td>
        <td>{{ data.total_logins }}</td>
        <td>{{ data.machines_reporting }}</td>
        <td>{{ data.total_machines }}</td>
        <td>{{ data.logins_per_machine }}</td>
        <td>{{ data.distinct_logins }}</td>
        <td>{{ data.distinct_per_machine }}</td>
        <td>{{ data.avg_time }} min ({{ data.all_avg_time}} min)</td>
        <td>{{ data.max_time }} min ({{ data.all_max_time}} min)</td>
        <td>{{ data.stdev_time }} min ({{data.all_stdev_time}} min)</td>
    </tr>
{% endfor %}
</table>
{% else %}
<h3>No Data</h3>
<p>There is no data associated with the specified time frame. Please try again.</p>
{% endif %}

{% endblock %}
