{% extends "base_full.html" %}

{%block pageCSS %}
@import url("{{MEDIA_URL}}css/smoothness/jquery-ui-1.8.15.custom.css");

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
{%endblock%}

{%block pageJS %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-timepicker-addon.js"></script>
    {{form.media}}

<script type="text/javascript">
$(function() {
    $('#id_time_start').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm:ss',
    });
    $('#id_time_end').datetimepicker({
        dateFormat: 'yy-mm-dd',
        timeFormat: 'hh:mm:ss',
    });
});
</script>
{% endblock %}



{% block heading %}Statistics File Generator{% endblock %}

{% block pageHead %}
<style type="text/css">
.stats_table {
    border-collapse: collapse;
}
.stats_table td {
    border: #000000 1px solid;
    width: 85px;
}
</style>
{% endblock %}
{% block content %}
<h3>Custom Time Frame</h3>
<p>Input the time interval as YYYY-MM-DD HH:MM:SS. (Year-Month-Day Hours:Minutes:Seconds)</p>
<form action="." method="GET">
{{ form.as_p}}
<input type="submit" value="Generate" />
</form>
<br />
<p>CSV file format:<p>
<p>[ Username(hashed) ], [ Machine Name ], [ Location ], [ Login Time ], [ Session Time ], [ Machine Type ], [ Platform ]
<br />
{% if message %}
<br />
<h3>{{ message }}</h3>
{% endif %}
{% if  location_stats %}
<div id='file'>{{response}}</div>
{% endif %}

{% endblock %}
