{% extends "base_full.html" %}
{% load adminmedia %}

{%block pageCSS %}
@import url('/media_admin/css/widgets.css');
{%endblock%}

{%block pageJS %}
    <script type="text/javascript">window.__admin_media_prefix__="{%filter escapejs %}{% admin_media_prefix %}{%endfilter%}"</script>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media_admin/js/core.js"></script>
    <script type="text/javascript" src="/media_admin/js/admin/RelatedObjectLookups.js"></script>
    {{form.media}}
{% endblock %}



{% block heading %}Statistics File Generator{% endblock %}

{% block pageHead %}
<style type="text/css">
.stats_table {
    border-collapse: collapse;
}
.stats_table td {
    border: #000000 1px solid;
    width: 85px;
}
</style>
{% endblock %}
{% block content %}
<h3>Custom Time Frame</h3>
<p>Input the time interval as YYYY-MM-DD HH:MM:SS. (Year-Month-Day Hours:Minutes:Seconds)</p>
<form action="." method="GET">
{{ form.as_p}}
<input type="submit" value="Generate" />
</form>
<br />
<p>CSV file format:<p>
<p>[ Username(hashed) ], [ Machine Name ], [ Location ], [ Login Time ], [ Session Time ], [ Machine Type ], [ Platform ]
<br />
{% if message %}
<br />
<h3>{{ message }}</h3>
{% endif %}
{% if  location_stats %}
<div id='file'>{{response}}</div>
{% endif %}

{% endblock %}
