{% load issue_extras %}

{% if grouper %}
<h4>{{ grouper|title }}</h4>
{% endif %}
<table class="issue_results">
<thead>
	<tr>
		{% searchcolumn "issue_id" "ID" %}
		{% searchcolumn "title" "Title" %}
		{% searchcolumn "item" "Item Name" %}
		{% searchcolumn "group" "Group" %}
		{% searchcolumn "reporter" "Reporter" %}
		{% searchcolumn "assignee" "Assignee" %}
		{% searchcolumn "post_time" "Posted" %}
		{% searchcolumn "last_modified" "Last Modified" %}
	</tr>
</thead>
<tbody>{% for issue in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td class='r_issue_id'>{{ issue.issue_id }}</td>
		<td class='r_title'>
			<a href="{% url IssueTracker-view issue.issue_id %}">{{ issue.title }}</a>
		</td>
        <td class='r_item'>
        {% if issue.item %}
			<a href="{{ issue.item.item.get_absolute_url }}">{{ issue.item }}</a>
        {% else %}
			{{ issue.item }}
        {% endif %}
        </td>
        <td class='r_group'>{{ issue.group }}</td>
        <td class='r_reporter'>{{ issue.reporter }}</td>
        <td class='r_assignee'>{{ issue.assignee }}</td>
        <td class='r_post_time'>{{ issue.post_time|date }} at {{ issue.post_time|time }}</td>
        <td class='r_last_modified'>{{ issue.last_modified|date }} at {{ issue.last_modified|time }}</td>
    </tr>{% endfor %}
</tbody>
</table>
