    <div class='tags block-if-js compact_container' id='problem_type_clicker'>
        <h3 class='compact_trigger'>{% if prob_type_clicker_title %}{{ prob_type_clicker_title }}{% else %}Set Problem Types{% endif %}</h3>

        <div class='compact'>
            <h4>Selected</h4>
            <div id='tagged'>
                <ul class='inline'>
                </ul>
            </div>

            <h4>Unused</h4>
            <div id='untagged'>
                <ul class='inline'>
                    {% for problem in problem_types %}
                        <li id='prob_tag_{{ problem.pk }}' class='tag'>{{ problem }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
