{% extends "base_full.html" %}

{% block heading %}Lab Statistics{% endblock %}

{% block content %}
<h3>Custom Time Frame</h3>
<p>Input the time interval as YYYY-MM-DD HH:MM:SS. (Year-Month-Day Hours:Minutes:Seconds)</p>
<form action="" method="POST">
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<br />
<h3>Logins per Machine and Distinct Clients</h3>
<table>
    <tr>
        <th>Location</th>
        <th>Logins</th>
        <th>Machines</th>
        <th>Logins / Machine</th>
        <th>Distinct Logins</th>
        <th>Distinct / Machine</th>
        <th>Avg. Seat Time</th>
        <th>Max. Seat Time</th>
        <th>Std. Dev. Seat Time</th>
    </tr>
{% for data in location_stats %}
    <tr>
        <td>{{ data.location }}</td>
        <td>{{ data.total_logins }}</td>
        <td>{{ data.total_machines }}</td>
        <td>{{ data.logins_per_machine }}</td>
        <td>{{ data.distinct_logins }}</td>
        <td>{{ data.distinct_per_machine }}</td>
        <td>{{ data.avg_time }} min</td>
        <td>{{ data.max_time }} min</td>
        <td>{{ data.stdev_time }} min</td>
    </tr>
{% endfor %}
</table>


{% endblock %}
