div#query {
    margin: 5px;
    padding: 1em;
    background-color: #DDFFDD;
}

div#query #query_add {
    text-align: right;
}

ul#query_list > li > ul {
    margin: 0px 1em;
}

ul#query_list > li > label {
    margin-right: 1em;
}

ul#query_list > li > a {
}
