form#create_issue { 
    border: 1px grey dotted;
    background: #BBFFBB;
    width: 73em;
    padding: 1em;
}

#text {
    float: left;
    width: 30em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}

#fields {
    float: left;
    width: 25em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}

div.tags {
    font-weight: bold;
}

div.tags div {
    margin: .5em;
    padding: .4em;
    min-height: 3em;
    width: 50em;
}

div.tags li {
    padding: .5em;
    cursor: pointer;
    color: #333;
}

div#untagged { background: #DDBB99; }

div#tagged { background: #FFCCAA; }

div.tags h3 {
    padding: 0px;
    margin: .2em;
}
