form#create_issue { 
    border: 1px grey dotted;
    background: #BBFFBB;
    width: 73em;
    padding: 1em;
}
#text {
    float: left;
    width: 30em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}
#fields {
    float: left;
    width: 25em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}

