html, body {
    background-image: url("/static/img/bg/greenbg.jpg");
	background-attachment: fixed;
	background-position: right;
	background-repeat: repeat-y;
}

#heading h1 { 
	color: #2fa62c;
}

.box {
	margin-top: 1em;
	padding: 0.5em;
    background-color: #EDEDED;
	border: 1px solid #cacaca;
	max-width: 800px;
}

table#stats{
    border-collapse: collapse;
}
table#stats th{
    border-bottom: 1px solid #000000;
    padding: 0 1em 0 .7em;
    text-align: left;
}

table#stats td{
    border: 1px solid #000000;
}
.problem{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
}

.problem a {
    color: yellow;
}

.ok{
    background-color: #00CD00;
}
.ok a {
    color: #25279f;
}
