html, body {
    font-family: verdana, sans-serif;
    font-size: 10px;
	margin: 0;
}

html, body {
    background-image: url("/static/img/bg/greenbg.jpg");
	background-attachment: fixed;
	background-position: right;
	background-repeat: repeat-y;
}

#heading h1 { 
	color: #2fa62c;
}

.box {
	margin-top: 1em;
	padding: 0.5em;
    background-color: #EDEDED;
	border: 1px solid #cacaca;
	max-width: 800px;
}

table#stats{
    border-collapse: collapse;
}
table#stats th{
    border-bottom: 1px solid #000000;
    padding: 0 1em 0 .7em;
    text-align: left;
}

table#stats td{
    border: 1px solid #000000;
}
.problem{
    background-color: #EE0000;
    color: white;
    font-weight: bold;
}

.ok{
    background-color: #00CD00;
}

A:link {
	text-decoration: none;
	color: #289f25;
}

A:visited {
	text-decoration: none;
	color: #47c844;
}

A:active {
	text-decoration: none;
	color: #47c844;
}

A:hover {
	text-decoration: underline;
}

#dialog p, #faildialog p {
    margin: 0;
    text-align: center;
}

#upper-header A:hover {
	text-decoration: none;
}

#pageHeader {
    padding: 0 15px 15px;
}

img { border: none; }

br.clear { height: 0px; }
.clear { clear: both; }
.error { color: red; }

ul.struct { 
	list-style-type: none;
	margin: 0em;
	padding: 0px; 
}
ul.struct li {
	margin: 0em;
	padding: 0px;
}
ul.inline {
	padding: 0px;
	display: inline;
}
ul.inline li {
	margin: 0em;
	padding: 0px;
	display: inline;
}
ul.inlineblock li {
	display: block;
	float: left;
}

span.label {
	font-weight: bold;
}

.left {
	float: left;
}
.right {
	float: right;
}
.center { 
	margin-left: auto; 
	margin-right: auto;
}

.block-if-js, .inline-if-js {
    display: none;
}

span.date { 
	margin-left: 1em; 
	font-weight: normal; 
}

table td {
    padding: 0 5px;
}

table#stats td {
    padding: 0.6em 0.8em 0.6em 0.8em;
}

table#stats a {
    color: black;
    text-decoration: underline;
}

table.plain {
    border-collapse: collapse;
    border-spacing: 0;
}

table.plain tr.view-row:hover {
    background-color: #cccccc;
}

table.plain td {
    border: 1px solid #000000;
    padding: 10px;
}

div#feed {
    margin: 20px 20px 20px 0;
}

.required {
    color: black;
}

.error { 
	color: red; 
	font-size: 10px;
}

.help {
	color: #6a6a6a;
}

span.help {
    font-size: 0.8em;
}

.blocktext {
	display: block;
	width: 70px;
	padding-top: 2px;
	float: left;
}

