html, body {
    font-family: verdana, sans-serif;
    font-size: 10px;
}

br.clear { height: 0px; }
.clear { clear: both; }
.error { color: red; }

ul.inline { padding: 0px; display: inline; }
ul.struct { list-style-type: none; margin: 0em; padding: 0px; }
ul.struct li { margin: 0em; padding: 0px; }
ul.inline li { margin: 0em; padding: 0px; display: inline; }

span.label { font-weight: bold; }

.left { float: left; }

.right { float: right; }

span.date { margin-left: 1em; font-weight: normal; }

