/********************** 
 * global tag changes *
 **********************/
html, body {
    font-size: 12px;
    margin: 0px; padding: 0px;
    min-width: 950px;
    /* background-color: #bab9b9; */
}
h3 { padding-top: 0px; margin-top: 0px; }
h3.label, h4.label { padding: 0px; margin: 0px; }
a { text-decoration: none; border: none; }
a img { border: none; }

/************************
 * base template styles *
 ************************/
#header {
    height: 4.2em;
    margin: 0px;
    margin-bottom: 0.4em;
    padding: 0em;
    background-color: none;
}

div#footer {
	border-top: none;
	margin: 0em 1em;
	font-size: 10px;
}

#upper-header {
	height: 3.5em;
	width: auto;
	padding: 0  1em .3em 1em;
}

#logo {
	float: left;
	border: 1px solid #CCC;
	border-top: 0px;
	height: 100%;
}

/* nav related styles */
#nav { 
	float: right;
	margin: 0em 0em 0em 1em; 
}

#nav > li > a {
	display: block;
	width: 8.5em;

	border: 1px solid #DDD;
	border-top: 0px;
	padding: 1.8em 0.5em 0.4em 0.5em;
	height: 100%;

	font-size: 0.9em;
	color: #888888;
	text-align: left;
}

#nav > li {
    margin: 0em 4px;
	position: relative;
	display: block;
	float: left;
    background-color: #ffffff;
}

#nav a:hover {
	border-color: #888;
}

/* END nav related styles */

#user-info { 
	font-size: 0.8em;
	float: left; 
	width: 20em;
}

#heading { 
	float: left; 
	margin-top: 0;
	margin-bottom: 0.7em;
	padding-right: 7px;

	/* 77 px high */
	background: url("/static/img/icons/ring.gif") center right no-repeat;
}

#heading div { 
	padding: 18px 63px 18px 0em;
	height: 41px;		/* 77 - 18 - 18 */
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center right;
}

#heading.default div {
	background-image: url("/static/img/icons/house.gif");
}

#heading.tools div {
	background-image: url("/static/img/icons/tools.gif");
}

#heading.view div {
	background-image: url("/static/img/icons/mag.gif");
}

#heading.home div {
	background-image: url("/static/img/icons/house.gif");
}

#heading.data div {
	background-image: url("/static/img/icons/eye.gif");
}

#heading.create div {
	background-image: url("/static/img/icons/warning.gif");
}

#heading.logout div {
	background-image: url("/static/img/icons/logout.gif");
}

#heading.login div {
	background-image: url("/static/img/icons/login.gif");
}

#heading h1 { 
	font-size: 16px;
	font-weight: normal;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 23em;
	padding: 0.6em 0em 0.6em 1em;
	margin: 0px;
	background: white;
}

#content { 
	min-height: 400px;
	padding: 0px 15px 15px 15px;
}

form#login {
	width: 24em;
}

form#login fieldset {
	background-color: white;
}

/* fastsearch */
div#fast-search fieldset {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#search_term {
    background: #BAE7B0;
}

div#fast-search input.flat {
    padding: 1px;
    background: #78C778;
}
/* end fastsearch */

/* Header right under the main header */
#lower-header { margin-top: 2px; padding: 0 1em 0 1em;}

/******************
 * utility styles *
 ******************/
input.small_text {
    font-size: 10px;
    /* height: 12px; */
}

.errorlist { 
    color: red; 
    font-size: 10px; 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.messages {
    list-style-type: none;
    font-weight: bold;
    margin: 1em 0em 1.5em 0em;
    padding: 0.8em 1em;
    background: #FBDAAE;
}

ul.messages > li {
    padding: 0.2em 0em;
    margin: 0px;
}

span.date { margin-left: 1em; font-weight: normal; }

input.flat {
    border: 0px;
    background: none;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

ul.errorl {
    color: red;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

ul.errorl li {
    padding: 0px;
    margin: 0px;
}

select#id_cc {
    width: 10em;
    height: 5em;
}

div.tags {
    font-weight: normal;
}

div.tags div {
    margin: 1em .5em;
    padding: .4em;
    min-height: 1.4em;
    width: 50em;
}

div.tags li {
    padding: .5em;
    cursor: pointer;
    color: #333;
	display: block;
	float: left;
}

div#untagged {
	background: #DDBB99;
	margin: 0 0 2em 150px;
	line-height: 1.2em;
	border: 1px solid #000000;
}

div#tagged {
	background: #FFCCAA;
	margin: 1em 0 1.5em 150px;
	line-height: 1.2em;
	border: 1px solid #000000;
}

div.tags h4 {
    padding: 0px;
    margin: .2em;
}

.display-none {
    display: none !IMPORTANT;
}

span.label {
    font-weight: bold;
}

