/********************** 
 * global tag changes *
 **********************/
html, body {
    font-family: verdana, sans-serif;
    font-size: 12px;
    margin: 0px; padding: 0px;
    min-width: 1000px;
}
h3.label { padding: 0px; margin: 0px; }
a { text-decoration: none; }


/************************
 * base template styles *
 ************************/
#header {
    height: 2.8em;
    margin: 0px;
    margin-bottom: 0.4em;
    padding: 0em 1em;
    border-bottom: 1px gray dotted;
}
#nav { 
	float: right;
	margin: 0.1em 1em 0em 1em; 
}
#nav > li {
    height: 1.5em;
    padding: 0.5em 4px;
    border-bottom: 1px grey solid;
}
/* #nav li:hover { background: #CCCCCC; } */
#userInfo { float: left; }
#heading { float: left; }
#heading h1 { padding: 0px; margin: 0px; }
#content { padding: 0px 15px 15px 15px; }

div#fast_search {
    float: right;
    margin-right: 1em;
}

div#fast_search > form input#search_term {
    background: #FBDAAE;
}

div#fast_search > form input.flat {
    padding: 1px;
    background: #C8A77B;
}

/* Header right under the main header */
#lowerHeader { margin-top: 2px;}



/******************
 * utility styles *
 ******************/
input.small_text {
    font-size: 10px;
    /* height: 12px; */
}

br.clear { height: 0px; }
.clear { clear: both; }
.error { color: red; font-size: 10px; }
.errorlist { 
    color: red; 
    font-size: 10px; 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.messages {
    list-style-type: none;
    font-weight: bold;
    margin: 1em 0em 1.5em 0em;
    padding: 0.8em 1em;
    background: #FBDAAE;
}

ul.messages > li {
    padding: 0.2em 0em;
    margin: 0px;
}

ul.inline { padding: 0px; display: inline; }
ul.struct { list-style-type: none; margin: 0em; padding: 0px; }
ul.struct li { margin: 0em; padding: 0px; }
ul.inline li { margin: 0em; padding: 0px; display: inline; }

span.date { margin-left: 1em; font-weight: normal; }

.block_if_js, .inline_if_js {
    display: none;
}

input.flat {
    border: 0px;
    background: none;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

ul.errorl {
    color: red;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

ul.errorl li {
    padding: 0px;
    margin: 0px;
}

select#id_cc {
    width: 10em;
    height: 5em;
}


div.tags {
    font-weight: bold;
}

div.tags div {
    margin: .5em;
    padding: .4em;
    min-height: 3em;
    width: 50em;
}

div.tags li {
    padding: .5em;
    cursor: pointer;
    color: #333;
}

div#untagged { background: #DDBB99; }

div#tagged { background: #FFCCAA; }

div.tags h4 {
    padding: 0px;
    margin: .2em;
}

.display_none {
    display: none !IMPORTANT;
}

.compact_trigger {
    cursor: pointer;
}

span.label {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}
