h1 {
    padding-top: 0px;
    margin-top: 0px;
}

h2 {
    padding-top: 0px;
    margin-top: 0px;
}

h4.section {
    padding: 0px;
    margin: 0px;
}

#user_nav {
    float: left;
    width: 10em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #EAC99D;
}

#user_nav a {
    color: black;
}

#user_nav ul {
}

#user_nav ul li {
    margin-left: 0.50em;
}

#pref_content {
    margin: 0.5em;
    margin-left: 13em;
}


