html, body {
    background-image: url("/static/img/bg/magentabg.jpg");
	background-attachment: fixed;
	background-position: right;
	background-repeat: repeat-y;
}

#maincontent { max-width: 700px}

#heading h1 { 
	color: #c62fbb;
}

h1 {
    padding-top: 0px;
    margin-top: 0px;
}

h2 {
	font-size: 12px;
    padding-top: 0px;
    margin-top: 0px;
	color: #000000;
}

h4.section {
    padding: 0px;
    margin: 0px;
	font-size: 12px; /* added for IE*/
}

.formwidth {
	font-size: 10px;
	min-width: 110px;
	float: left;
	line-height: 20px;
	font-weight: bold;
}

#user_nav {
    float: left;
    width: 10em;
    margin: 4.25em 0.5em 0.5em 0em;
    padding: 0.5em;
    background-color: #ffffff;
	border: 1px solid #cacaca;
}

/*
#user_nav a {
    color: black; 
}
*/

#user_nav ul {
}

#user_nav ul li {
    margin-left: 0.0em;
}

#pref_content {
    padding: .5em 1em 1em 1em;
    background-color: #EDEDED;
	border: 1px solid #cacaca;
	max-width: 800px;
}

#pref_content_wrapper {
    margin: 1em 0em 1em .5em; /* margin left from 12 to .5 for IE*/
	max-width: 800px;
}

#id_email { border: 1px solid #000000; width: 200px;}

