{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Labtracker site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Labtracker administration' %}</h1>
{% endblock %}

{% block nav-global %}
	<ul class='plainlist'>
        <li style='display: inline'><a href="/">Dashboard</a> | </li>
		<li style='display: inline'><a href="/issue/report/all/">Issues</a> | </li>
        <li style='display: inline'><a href="/views/">Data Views</a> | </li>
        <li style='display: inline'><a href="/admin/">Admin Home</a></li>
	</ul>
{% endblock %}
