div#map {
    padding: 0px;
    background: no-repeat top left;
    position: relative;
}

div#infoPane {
    width: 20em;
    border: 1px dotted grey;
    padding: 0.4em 1em;
}

/* map items */

div.item {
    width: 15px;
    height: 15px;
    background-color: #DDDDDD;
    padding: 0px;
    border: 1px solid #555555;
}

div#map div.item {
    margin: 0px;
    position: absolute;
    z-index: 1;
}

h2 {
    padding-left: 15px;
}
