i/*div.item.status_broken {
   background-color: black;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}*/
div.item.status_unusable {
    background-color: white;	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

div.item.status_usable {
    background-color: gray;		filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

div.item.broken{
    border: 2px solid red;
}

#staffInfo {
    font-size: 24pt;
    width: 100%;
    position: absolute;
    top: 472px;
    left: 440px;
}
#brokenExample {
    position: absolute;
    top: 10px;
}
#brokenExplanation {
    position: absolute;
    left: 45px;
}

#wrapper { padding-left: 15px; }
