<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.01 Strict//EN" "http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
    <head>
        <title>
            {% block title %}Issue Tracker{% endblock %}
        </title>
        {# <script type="text/javascript" src="/js/mochikit/MochiKit.js"></script> #}
        <script type="text/javascript" src="/js/jquery-1.1.4.js"></script>
        <script type="text/javascript" src="/js/global.js"></script>
        {% block pageHead %}{% endblock %}
        <style type="text/css">
            @import url('/css/main.css');
            {% block pageCSS %}{% endblock %}
        </style>
    </head>
    <body>
        <div id="header">
            {% if user.is_authenticated %}<div id='userInfo'>
                Logged in as: {{ user.username }}
            </div>{% endif %}
            <ul id="nav" class="inline struct">
                <li>
                    <a href="/issue/">Home</a>
                </li>
                <li>
                    <a href="/issue/all/">All Issues</a>
                </li>
                <li>
                    <a href="/issue/report/">Reports</a>
                </li>
                <li>
                    <a href="/issue/new/">New</a>
                </li>
                {% if user.is_authenticated %}<li>
                    <a href="/issue/pref/">Preferences</a>
                </li>
                <li>
                    <a href="/admin/">Admin</a>
                </li>
                <li>
                    <a href="/issue/logout/">Logout</a>
                </li>
                {% else %}<li>
                    <a href="/issue/login/">Login</a>
                </li>
                {% endif %}
            </ul>
            <br class="clear" />
        </div>
        <div id="fast_search">
            <form method="POST" action="/issue/search/">
                <input type="text" id="search_term" name="search_term" class="small_text" />
                <input type="submit" name="search" value="Search" class="flat" />
            </form>
        </div>
        <br class="clear" />
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
