{% extends "IssueTracker/base_generic.html" %}

{% block content %}{% if search_by_id and error %}
<h2>{{ error }}</h2> {% endif %}
{% if object_list %}
<h3>Search Results:</h3>
<table>
<thead>
    <tr>
        <th>Title </th>
        <th>Issue ID</th>
        <th>Inventory Type</th>
        <th>Group</th>
        <th>Item</th>
        <th>Reporter</th>
        <th>Assignee</th>
        <th>Post Time</th>
        <th>Last Modified</th>
    </tr>
</thead>
<tbody>{% for issue in object_list %}
    <tr>
        <td><a href="/issue/{{ issue.issue_id }}/">{{ issue.title }}</a></td>
        <td>{{ issue.issue_id }}</td>
        <td>{{ issue.it }}</td>
        <td>{{ issue.group }}</td>
        <td>{{ issue.item }}</td>
        <td>{{ issue.reporter }}</td>
        <td>{{ issue.assignee }}</td>
        <td>{{ issue.post_time }}</td>
        <td>{{ issue.last_modified }}</td>
    </tr>{% endfor %}
</tbody>
</table>{% else %}
<h3>
{% if error and not search_by_id %}
{{ error }}
{% else %}No issues were found with the given search terms
{% endif %}
</h3>
{% endif %}{% endblock %}

