{% extends "IssueTracker/base_generic.html" %}
{% block pageCSS %}@import url('/css/view.css');{% endblock %}

{% block content %}
<div id="main_issue">
<div id="issue">
    <h2 id="title">{{ issue.title }}</h2>
    <div id="info">
        <ul class="floated struct">
            <li><h4>Reporter:</h4>  {{ issue.reporter }}</li>
            <li><h4>Time Posted:</h4>  {{ issue.post_time }}</li>
            <li class="clear"><h4>Inventory Type</h4>  {{ issue.it }}</li>
            <li><h4>Group:</h4>  {{ issue.group }}</li>
            <li><h4>Item:</h4>  {{ issue.item }}</li>
            <li><h4>Assigned to:</h4>  {{ issue.assignee }}</li>
            <li><h4>State:</h4>  {{ issue.resolved_state }}</li>
        </ul>
        <br class="clear" />
    </div>
    <p id="description">{{ issue.description }}</p>
    <div id="problems">
        <h3>Problems: </h3>
        {%  if issue.problem_type.all %}
        <ul class="struct inline">
            {% for issue in issue.problem_type.all %}
                <li>{{ issue }}</li>
            {% endfor %}
        </ul>
        {% else %}
        No problem types defined
        {% endif %}
        <br class="clear" />
    </div>
</div>
{% for post in comments %}
<div id='post_{{ post.ip_id }}' class='comment'>
    <div class='post_date'>{{ post.post_date }} by {{ post.user }}</div>
    <p>
        {{ post.comment }}
    </p>
</div>
{% endfor %}

<form id='post_comment' method='post' action='/issue/{{ issue.issue_id }}/post/'>
<fieldset>
<!-- add_comment_form, update_issue_form -->
    <ul class="struct">
        <li><label for='assignee'>Assign To:</label> {{ update_issue_form.assignee }}</li>
        <li><label for='resolved_state'>Resolve:</label> {{ update_issue_form.resolved_state }}</li>
    </ul>
    <div>
        <label for='comment' style='display: block;'>{{ add_comment_form.comment.label }}</label>
        {{ add_comment_form.comment }}
    </div>
{% if comment_errors %}
{{ comment_errors }}
{% endif %}
<br class="clear" />
<input type="submit" name="submit" value="Submit" />
</fieldset>
</form>
</div>
<div id="issue_side">
    {% for item in history %}
    <div id='hist_{{ item.ih_id}}' class='history'>
        <h4>{{item.user}}<span class='date'>{{item.time}}</span></h4>
        <ul class='struct'>
            {{item.change}}
        </ul>
    </div>
    {% endfor %}
</div>
<br class='clear' />
{% endblock %}
