    <div id="map" style="height: {{ map.height }}px; width: {{ map.width }}px;
        background-image: url('{{ map_url }}');">
        {% for item in mapped %}<div id="{{ item.machine.pk }}_{{ item.machine.name }}" class="item mapped {{item.size.name}} {{item.orientation}} status_{{item.status|lower }} {% if item.broken and item.status != 'unusable' %} {{item.broken|lower }} {% endif %}" style="top: {{item.ypos}}px; left: {{item.xpos}}px;"></div>
        {% if item.verified %} <div class='check' style="top: {{item.vypos}}px; left: {{item.vxpos}}px;" ><img src='/static/img/Viewer/check.png'/></div>{% endif %} 
        {% endfor %}
        {% if staff %}
            <div id='staffInfo'>
                <div id='brokenExample' class="item mapped Rectangle H broken"></div> 
                <div id='brokenExplanation'>Broken Machine</div>
                <div id='verifiedExample' class="item mapped Rectangle H"></div>
                <img id='verifiedPic' src='/static/img/Viewer/check.png'/>
                <div id='verifiedExplanation'>Verified Machine</div>
                <div id='unusableExample' class="item mapped Rectangle H status_unusable"></div>
                <div id='unusableExplanation'>Unusable Machine</div>

            </div>
        {% endif %}
    </div>
