{% if staff %}
            <div id='staffInfo' style='position: absolute; left: {{view.key_xpos}}px; top: {{view.key_ypos}}px; z-index: 100;'>
                <div id='availableExample' class="item mapped Rectangle H status_usable"></div>
                <div id='availableExplanation'>Available Machine</div>
                <div id='occupiedExample' class="item mapped Rectangle H status_occupied"></div>
                <div id='occupiedExplanation'>Occupied Machine</div>
                <div id='brokenExample' class="item mapped Rectangle H broken"></div> 
                <div id='brokenExplanation'>Broken Machine</div>
                <div id='verifiedExample' class="item mapped Rectangle H"></div>
                <img id='verifiedPic' src='/static/img/Viewer/check.png'/>
                <div id='verifiedExplanation'>Verified Machine</div>
                <div id='unusableExample' class="item mapped Rectangle H status_unusable"></div>
                <div id='unusableExplanation'>Unusable Machine</div>

            </div>
{% endif %}
    <div id="map" style="height: {{ map.height }}px; width: {{ map.width }}px;
        background-image: url('{{ map_url }}');">
        {% for item in mapped %}<div id='outer_{{item.machine.name}}' class='outerItem {{ item.machine.name }}" mapped {{item.size.name}} {{item.orientation}} {% if item.broken and item.status != 'unusable' %} {{item.broken|lower }} {% endif %}' style="top: {{item.ypos}}px; left: {{item.xpos}}px;"><div id="{{ item.machine.pk }}_{{ item.machine.name }}" value="{{ item.machine.name }}" class="item mapped {{item.size.name}} {{item.orientation}} status_{{item.status|lower }}"></div>
        {% if item.verified %} <div class='check' style="top: 2px; left: 2px;" ><img src='/static/img/Viewer/check.png'/></div>{% endif %} 
        </div>
        {% endfor %}
{% if staff %}        
        {% for item in mapped %}
            <div id="list_{{ item.machine.name }}" value='{{item.machine.name}}'class= 'list' style="top: {{item.ypos}}px; left: {{item.list_pos}}px; position: absolute;">
                <li><a href='/machine/detailed/{{item.machine.pk}}'>{{ item.name }}</a></li>
                <li>Type: {{ item.type }}</li>
                <li>MAC Address 1: {{ item.mac1 }}</li>
                <li>MAC Adress 2: {{ item.mac2 }}</li>
                <li>IP Adresss: {{ item.ip }}</li>
                <li>Wall Port: {{ item.wall_port }}</li>
                <li>UW Tag: {{ item.uw_tag }}</li>
                <li>Manufacture Tag: {{ item.manu_tag }}</li>
                <img class='close' src='/static/img/Viewer/modmap/x.gif'/>
            </div>
        {% endfor %}
{% endif %}
