{% extends "Viewer/base_generic.html" %}

{% block title %}Modifying Machine Map -- {{ view.name }}{% endblock %}

    {% block pageHead %}<script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery/ui.core.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery/ui.droppable.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery/ui.draggable.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery/plugins/jquery.n-contextmenu.js"></script>
        <script type="text/javascript" src="/static/js/Viewer/MachineMap/modify.js"></script>
        <script type="text/javascript">
            // Register the types
            modMap.init('H', 'Rectangle', { {% for size in sizes %}
                    '{{ size.name }}': { 'width': {{size.width}}, 'height': {{size.height}} } {% if not forloop.last %}, {%endif%}{%endfor%} 
                }
            );
        </script>
    {% endblock %}
    {% block pageCSS %}
        @import url('/static/css/Viewer/MachineMap/modify.css');
        {% include "Viewer/MachineMap/size_css.css" %}
    {% endblock %}

{% block header %}
    <h2>Modifying map: {{ view.name }}</h2>
    <div id="cpanel" class="left">
		<ul class="struct">
			<li><a href="#" id="save">Save</a></li>
			<li>Right click on items for menu</li>
		</ul>
    </div>
    <div id="infoPane" class="right">
        <ul class="struct left">
            <li>Mouse position: <span id="mousePosition" class="info"></span></li>
            <li>Machine Name: <span id="machineName" class="info"></span></li>
        </ul>
    </div>
    <br class="clear" />
    <h4>Groups: {% for group in groups %}{{ group.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
{% endblock %}

{% block content %}
<div id='drag'>
    <div id='unmapped'>
        <h4>Unmapped items:</h4>
        <div id='items'>
            {% for item in unmapped %}<div id="{{ item.pk }}[{{ item.name }}]" class="item unmapped"></div>{% endfor %}
        </div>
        <br class='clear' />
    </div>
    {% include "Viewer/MachineMap/map.html" %}
</div>

<ul id="itemcontextmenu" class="menu" style="display: none">
	{% for size in sizes %}
	<li><span class='sizename'>{{ size.name }}</span></li>{% endfor %}
</ul>
{% endblock %}

