{% extends "Viewer/base_generic.html" %}

{% block title %}Showing Machine Map -- {{ view.name }}{% endblock %}

    {% block pageHead %}<script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/Viewer/MachineMap/show.js"></script>
        <script type="text/javascript">
            // need to initialize things, such as available states
            $(document).ready(function () {
                init({
                    'timer': 5000,
                    'refresh': 0,
                    'states': { {% for st in status %}
                        '{{st.name|lower}}': 'status_{{st.name|lower}}'{% if not forloop.last %},{% endif %}{% endfor %}
                    },
                    'sizes': [{% for size in sizes %}'{{ size.name }}'{% if not forloop.last %}, {%endif%}{%endfor%}]
                });
            });
        </script>
    {% endblock %}
    {% block pageCSS %}
        @import url('/static/css/Viewer/MachineMap/show.css');
        {% include "Viewer/MachineMap/size_css.css" %}
    {% endblock %}

{% block header %}
    <h2>{{ view.name }}</h2>
{% endblock %}
{% block content %}
    {% include "Viewer/MachineMap/map.html" %}
{% endblock %}
