{% extends "base_full.html" %}

{% block pageCSS %}@import url("{{MEDIA_URL}}css/404.css");{% endblock %}

{% block heading-class %}home{% endblock %}
{% block heading %}Uh-Oh{% endblock %}

{% block content %}


<div id="maincontent404">

<div id="top"></div>
<div id="error"></div>
<div id="text">
<h1>OH NO!</h1> This page is broken or missing. You can click back or go to the <a href="/">homepage</a> or use the nav menu or search feature at the top right corner or use our site mapish thing below or&hellip; or&hellip; we're out of ideas&hellip; good luck :&THORN;

<div class="red para">
<h2><a href="/issue/report/all/">Issues</a></h2>
<a href="/issue/report/all/">All</a> | <a href="/issue/report/myissues/">Assigned</a> | <a href="/issue/report/group/problem_type/">By problem</a> | <a href="/issue/report/group/item/">By item</a>
</div>

<div class="yellow para">
<h2><a href="/issue/new/">New Issue</a></h2>
</div>

<div class="blue para">
<h2><a href="/views/">Views</a></h2>
<a href="/views/MachineMap/CRC_Map/">CRC Map</a> | <a href="/views/MachineMap/CRC_Map/edit">Edit CRC</a>
</div>

<div class="pink para">
<h2><a href="/pref/">Pref</a></h2>
</div>

<div class="purple para">
<h2><a href="/admin/">Admin</a></h2>
</div>

<h3><a href="https://donbot.eplt.washington.edu/trac/labtracker/newticket">Report A Bug</a></h3>

</div>

</div>

{% endblock %}
