{% extends "base_full.html" %}

{% block pageCSS %}@import url("{{MEDIA_URL}}css/404.css");{% endblock %}

{% block heading-class %}home{% endblock %}
{% block heading %}Uh-Oh{% endblock %}

{% block content %}


<div id="maincontent">

<div id="top"></div>
<div id="error"></div>
<div id="text">
<h1>OH NO!</h1> This page is broken. You can click back or go to the <a href="/">homepage</a> or use the nav menu / search feature at the top right corner or use our site mapish thing below or&hellip; or&hellip; or&hellip; we're out of ideas, good luck :&THORN;

<p1 class="red">
<h2><a href="/issue/report/all/">Issues</a></h2>
<a href="/issue/report/all/">All</a> | <a href="/issue/report/myissues/">Assigned</a> | <a href="/issue/report/group/problem_type/">By problem</a> | <a href="/issue/report/group/item/">By item</a>
</p1>

<p1 class="yellow">
<h2><a href="/issue/new/">New Issue</a></h2>
</p1>

<p1 class="blue">
<h2><a href="/views/">Views</a></h2>
<a href="/views/MachineMap/CRC_Map/">Map</a> | <a href="/views/MachineMap/CRC_Map/edit">Edit</a>
</p1>

<p1 class="pink">
<h2><a href="/pref/">Pref</a></h2>
</p1>

<p1 class="purple">
<h2><a href="/admin/">Admin</a></h2>
</p1>

<h3><a href="https://donbot.eplt.washington.edu/trac/labtracker/newticket">Report A Bug</a></h3>

</div>

</div>

{% endblock %}
