{% extends "base_generic.html" %}
            {% block title %}Issue Tracker{% endblock %}
            {% block b_pageCSS %}
                @import url('/static/css/main.css');
                {% block pageCSS %}
                {% endblock %}
            {% endblock %}
            {% block b_pageJS %}
	<script type="text/javascript" src="/static/js/jquery/plugins/jquery.droppy.js"></script>
	<script type="text/javascript" src="/static/js/base.js"></script>
                {% block pageJS %}
                {% endblock %}
            {% endblock %}
{% block body %}
        <div id="header">
            <div id="heading">
                <h1>{% block heading %}Heading{% endblock %}</h1>
            </div>
			{% include "nav.html" %}
            <br class="clear" />
			<div id="lowerHeader">
				{% if user.is_authenticated %}<div id='userInfo'>
					Logged in as: {{ user.username }}
				</div>{% endif %}
				<div id="fast_search">
				{% include "IssueTracker/fast_search.html" %}
				</div>
			</div>
        </div>
        <br class="clear" />
		<div id="pageHeader">
			{% block pageHeader %}
			{% endblock %}
		</div>
        <br class="clear" />
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
{% endblock %}
