<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% block head %}
    <title>
        {% block title %}LabTracker{% endblock %}
    </title>
    <style type="text/css">
		@import url('{{MEDIA_URL}}css/global.css');
        @import url('{{MEDIA_URL}}css/droppy.css');
        @import url('{{MEDIA_URL}}css/dropdown.css');
		@import url('{{MEDIA_URL}}css/smoothness/jquery-ui-1.8.15.custom.css');
        {% block mainCSS %}
		@import url("{{MEDIA_URL}}css/main.css");
	    {% block pageCSS %}
		{% endblock %}
		{% endblock %}
    </style>

   		<!--[if IE]>
		<style type="text/css">
        @import url("{{MEDIA_URL}}css/ie_main.css");
		</style>
        <![endif]-->
                
	<script type="text/javascript">
		var media_url = "{{ MEDIA_URL }}";
	</script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.15.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/global.js"></script>
	{% block mainJS %}

   <script type="text/javascript" src="{{MEDIA_URL}}js/base.js"></script>
	{% block pageJS %}
	{% endblock %}
	{% endblock %}

    {% block pageHead %}{% endblock %}
{% endblock %}
</head>
<body><div id='wrapper'>
{% block body %}
	{% block header %}
	<div id="header">
		<div id="upper-header">
			<div id="logo" class="bordered">
				<a href = "/">
					<img src="{{MEDIA_URL}}/img/labtracker_logo.png" alt="labtracker" />
				</a>
			</div>
			{% include "nav.html" %}
		</div>
		<div id="lower-header" class="clear">
			<!--{% if user.is_authenticated %}
			<div id='user-info'>
				Logged in as: <span>{{ user.username }}</span>
			</div>
			{% endif %}-->

			<div id="fast-search" class="right">
				{% include "IssueTracker/fast_search.html" %}
			</div>
			<br class="clear" />
		</div>
		<div id="heading" class="{% block heading-class %}default{%endblock%}">
			<div>
				<h1>{% block heading %}{% endblock %}</h1>
			</div>
		</div>
	</div>
	<div id="pageHeader" class="clear">
		{% block pageHeader %}{% endblock %}
	</div>
	{% endblock %}

	<div id="content" class="clear">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}{% endblock %}
		<ul class="struct inline">
			<li>
				<a href="http://trac.eplt.washington.edu/labtracker/newticket">Report A Bug</a>
			</li>
		</ul>
	</div>
{% endblock %}
</div></body>
</html>
