<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.01 Strict//EN" "http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <title>
        {% block title %}LabTracker{% endblock %}
    </title>
    <style type="text/css">
        @import url('/static/css/global.css');
        @import url('/static/css/jquery/droppy.css');
        {% block b_pageCSS %}{% endblock %}
    </style>
	<script type="text/javascript">
		var media_url = "{{ MEDIA_URL }}";
	</script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
	{% block b_pageJS %}{% endblock %}
    {% block pageHead %}{% endblock %}
</head>
<body><div id='wrapper'>
    {% block body %}{% endblock %}
</div></body>
</html>
