<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>
        {% block title %}LabTracker{% endblock %}
    </title>
    <style type="text/css">
		@import url('{{MEDIA_URL}}css/global.css');
        @import url('{{MEDIA_URL}}css/jquery/droppy.css');
        {% block b_pageCSS %}{% endblock %}
    </style>
	<script type="text/javascript">
		var media_url = "{{ MEDIA_URL }}";
	</script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/global.js"></script>
	{% block b_pageJS %}{% endblock %}
    {% block pageHead %}{% endblock %}
</head>
<body><div id='wrapper'>
{% block body %}{% endblock %}
</div></body>
</html>
