{% extends "base_full.html" %}

{% block pageCSS %}
@import url('{{MEDIA_URL}}/css/flatpage.css');
{% endblock %}

{% block heading %}
Labtracker
{% endblock %}

{% block pageHeader %}
Welcome back, {{user.username}}!
{% endblock %}

{% block content %}

{% if all_locations%}
<h2>Statistics of each location:</h2>
<table id="stats">
    <thead>
        <tr>
            <th>Location</th>
            <th>Lab Load (In Use/Usable)</th>
            <th>Magic Number </th>
            <th>% Usable (Usable/Total)</th>
            <th>% With issues (Broken,Usable/Total)</th>
            <th>% Unusable (Broken, Not-usable/ Total)</th>
        </tr>
    </thead>
    <tbody>
    {% for location in all_locations|dictsort:"Location"  %}
        <tr class="{% if location.PercUsable < 95 %}problem{% else %}ok{%endif%}">
            <td><a href= {{SITE_ADDR}}/issue/report/group/location#{{ location.Location }}>{{ location.Location }}</a></td>
            <td>{{ location.LabLoad}}%  ({{ location.inUse }} / {{ location.Usable }})</td>
            <td>{{ location.MagicNum }} {% if location.PercUsable < 95 %} below threshold {% else %}  above threshold {% endif %} </td>
            <td>{{ location.PercUsable }}%     ({{ location.Usable }} / {{ location.Total }})</td>
            <td>{{ location.PercBroken }}%   ({{ location.Broken }} / {{ location.Total }})</td>
            <td>{{ location.PercUnusable }}%  ({{ location.Unusable }} / {{ location.Total }})</td>
        </tr>
    {% endfor %}
        <tr>
            <td><b>OVERALL</b></td>
            <td>{{ overall.LabLoad}}%  ({{ overall.inUse }} / {{ overall.Usable }})</td>
            <td>{{ overall.MagicNum }} below threshold </td>
            <td>{{ overall.PercUsable}}%  ({{ overall.Usable }} / {{ overall.Total }})</td>
            <td>{{ overall.PercBroken}}%  ({{ overall.Broken }} / {{ overall.Total }})</td>
            <td>{{ overall.PercUnusable}}%  ({{ overall.Unusable }} / {{ overall.Total }})</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if problems %}
<h2>Your most recently assigned issues:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Item Name</th>
        <th>Group</th>
        <th>Posted</th>
        <th>Last Modified</th>
    </tr>
{% for report in problems %}
    <tr>
        <td>{{ report.issue_id }}</td>
        <td><a href="issue/{{ report.issue_id }}">{{report.title}}</a></td>
        <td><a href="{{report.item.item.get_absolute_url}}">{{report.item}}</a></td>
        <td>{{ report.group }}</td>
        <td>{{ report.post_time|date }} at {{ report.post_time|time }}</td>
        <td>{{ report.last_modified|date }} at {{ report.last_modified|time }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if recent_issues %}
<h2>5 most recently created issues:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Item Name</th>
        <th>Group</th>
        <th>Posted</th>
        <th>Last Modified</th>
    </tr>
{% for report in recent_issues %}
    <tr>
        <td>{{ report.issue_id }}</td>
        <td><a href="issue/{{ report.issue_id }}">{{report.title}}</a></td>
        <td><a href="{{report.item.item.get_absolute_url}}">{{report.item}}</a></td>
        <td>{{ report.group }}</td>
        <td>{{ report.post_time|date }} at {{ report.post_time|time }}</td>
        <td>{{ report.last_modified|date }} at {{ report.last_modified|time }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}



{% if prev_logins %}
<h2>Your most recent login times:</h2>
<table>
    <tr>
        <th>Machine</th>
        <th>Login Time</th>
        <th>Session Length</th>
{% for login in prev_logins %}
    <tr>
        <td>{{ login.machine }}</td>
        <td>{{ login.login_time|date }} at {{ login.login_time|time }}</td>
        <td>{% if login.session_time %} {{ login.session_time }} minutes {% else %} Currently logged in.{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
