{% extends "base_full.html" %}

{% block pageCSS %}
@import url('{{MEDIA_URL}}/css/flatpage.css');
{% endblock %}

{% block heading %}
Labtracker
{% endblock %}

{% block pageHeader %}
Welcome back, {{user.username}}!
{% endblock %}

{% block content %}

{% if all_locations%}
<h2>Statistics of each location:</h2>
<table>
    <tr>
        <th>Location</th>
        <th>% Usuable (Usuable/Total)</th>
        <th>% With issues (Broken,Usuable/Total)</th>
        <th>% In-Usable (Broken, Not-usable/ Total)</th>
    </tr>
{% for location in all_locations.items %}
    <tr>
        <td>{{ location.0 }}</td>
        <td>{{ location.1.PercTotal}}%  ({{ location.1.Usable }} / {{ location.1.Total }})</td>
        <td>{{ location.1.PercBroken}}% ({{ location.1.Broken }} / {{ location.1.Total }})</td>
        <td>{{ location.1.PercUnusable}}%   ({{ location.1.Unusable }} / {{location.1.Total}})</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if problems %}
<h2>Your most recently assigned issues</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Item Name</th>
        <th>Group</th>
        <th>Posted</th>
        <th>Last Modified</th>
    </tr>
{% for report in problems %}
    <tr>
        <td>{{ report.issue_id }}</td>
        <td><a href="issue/{{ report.issue_id }}">{{report.title}}</a></td>
        <td>{{ report.it}}</td>
        <td>{{ report.group }}</td>
        <td>{{ report.post_time|date }} at {{ report.post_time|time }}</td>
        <td>{{ report.last_modified|date }} at {{ report.last_modified|time }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if recent_issues %}
<h2>5 most recently created issues:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Item Name</th>
        <th>Group</th>
        <th>Posted</th>
        <th>Last Modified</th>
    </tr>
{% for report in recent_issues %}
    <tr>
        <td>{{ report.issue_id }}</td>
        <td><a href="issue/{{ report.issue_id }}">{{report.title}}</a></td>
        <td>{{ report.it}}</td>
        <td>{{ report.group }}</td>
        <td>{{ report.post_time|date }} at {{ report.post_time|time }}</td>
        <td>{{ report.last_modified|date }} at {{ report.last_modified|time }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}



{% if prev_logins %}
<h2>Your most recent login times</h2>
<table>
    <tr>
        <th>Machine</th>
        <th>Login Time</th>
        <th>Session Length</th>
{% for login in prev_logins %}
    <tr>
        <td>{{ login.machine }}</td>
        <td>{{ login.login_time|time }}</td>
        <td>{% if login.session_time %} {{ login.session_time }} minutes {% else %} Currently logged in.{% endif %}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
