{% extends "base_full.html" %}

{% block pageCSS %}
@import url('{{MEDIA_URL}}/css/flatpage.css');
{% endblock %}

{% block heading %}
Labtracker
{% endblock %}

{% block pageHeader %}
Welcome back, {{user.username}}!
{% endblock %}

{% block content %}
<h2>Your most recently assigned issues</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Item Name</th>
        <th>Group</th>
        <th>Posted</th>
        <th>Last Modified</th>
    </tr>
{% for report in problems %}
    <tr>
        <td>{{ report.issue_id }}</td>
        <td><a href="issue/{{ report.issue_id }}">{{report.title}}</a></td>
        <td>{{ report.it}}</td>
        <td>{{ report.group }}</td>
        <td>{{ report.post_time|date }} at {{ report.post_time|time }}</td>
        <td>{{ report.last_modified|date }} at {{ report.last_modified|time }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
