{% extends "base_full.html" %}

{% block heading %}Login{% endblock %}

{% block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if user.is_authenticated %}
<p>Sorry, you do not have permission to view this page</p>
{% else %}
<form method="post" action="." class="center" id="login">
	<fieldset>
		<legend>Login</legend>
		<ul class="struct">
			{{ form.as_ul }}
		</ul>
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</fieldset>
</form>
{% endif %}
{% endblock %}
