{% extends "base_full.html" %}
{% block pageCSS %}@import url("{{MEDIA_URL}}css/flatpage.css");
@import url("{{MEDIA_URL}}css/loginout.css"); {% endblock %}

{% block heading-class %}login{% endblock %}
{% block heading %}Login{% endblock %}

{% block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if user.is_authenticated %}
<p>Sorry, you do not have permission to view this page</p>
{% else %}
<form method="post" action="." class="" id="login">
	<fieldset class="noborder">
		<div class="border">
        <!-- <strong>Login</strong> -->
		<ul class="struct">
			{{ form.as_ul }}
		</ul>
        </div>
		<input type="submit" value="login" class="button"/>
		<input type="hidden" name="next" value="{{ next }}" />
	</fieldset>
</form>
{% endif %}
{% endblock %}
