            <ul id="nav" class="inline struct">
                <li>
                    <a href="{% url issueIndex %}">Home</a>
                </li>
                <li>
					<a href="#">Issues</a>
					<ul>
						<li><a href="{% url viewAll %}">All Unresolved</a></li>
						<li><a href="{% url groupView "problem_type" %}">Group By: Problem Type</a></li>
						<li><a href="{% url groupView "item" %}">Group By: Item</a></li>
					</ul>
                </li>
				<!-- 
				<li>
                    <a href="/issue/search/detailed/">Search</a>
				</li> 
				-->
                <li>
                    <a href="{% url createIssue %}">New Issue</a>
                </li>
                <li>
                    <a href="{% url viewsIndex %}">Data Views</a> 
                </li>
                {% if user.is_authenticated %}<li>
                <a href="{% url userPrefs %}">Preferences</a>
                </li>
                <li>
                    <a href="/admin/">Admin</a>
                </li>
                <li>
                    <a href="{% url logout %}">Logout</a>
                </li>
                {% else %}<li>
                    <a href="{% url login %}">Login</a>
                </li>
                {% endif %}
            </ul>
