{% extends "user_prefs.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block pref_content %}
<h2>{% trans 'Password change' %}</h2>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<br />
<form action="" method="post">{% csrf_token %}

{% if form.old_password.errors %}{{ form.old_password.html_error_list }}{% endif %}
<p class="aligned wide"><label for="id_old_password"><div class="formwidth">{% trans 'Old password:' %}</div></label>{{ form.old_password }}</p>
{% if form.new_password1.errors %}{{ form.new_password1.html_error_list }}{% endif %}
<p class="aligned wide"><label for="id_new_password1"><div class="formwidth">{% trans 'New password:' %}</div></label>{{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.html_error_list }}{% endif %}
<p class="aligned wide"><label for="id_new_password2"><div class="formwidth">{% trans 'Confirm passwords:' %}</div></label>{{ form.new_password2 }}</p>

    <input type="hidden" name="next" value="{{ next }}" />

<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>
{% endblock %}

