{% extends "base_full.html" %}

{% block pageCSS %}@import url("/static/css/prefs.css");{% endblock %}

{% block heading %}Preferences{% endblock %}
{% block content %}
<div class="nav" id="user_nav">
    <ul class="struct">
		<li><h4 class="section"><a href="{% url userPrefs %}">Preferences</a></h4>
            <ul class="struct">
				<li><a href="{% url pwchange %}">Change Password</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="pref_content">
    {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}

    {% block pref_content %}
    <form method="POST" action="./">
		<div class="error">{{ emailForm.email.errors }}</div>
        {{ emailForm.email.label }} {{ emailForm.email }}
		<div>
			<input type="submit" value="Change" name="Change" />
		</div>
    </form>
    {% endblock %}
</div>

{% endblock %}
