{% extends "base_full.html" %}

{% block pageCSS %}@import url("{{MEDIA_URL}}css/prefs.css");{% endblock %}

{% block heading-class %}tools{% endblock %}
{% block heading %}Preferences{% endblock %}

{% block content %}
<div class="nav" id="user_nav">
    <ul class="struct">
		<li><h4 class="section"><a href="{% url userPrefs %}">Change E-mail</a></h4>
        </li>
		{# <li><a href="{% url pwchange %}">Change Password</a></li> #}
    </ul>
</div>

<div id="maincontent">
<div id="pref_content_wrapper">
<div id="pref_content">

    {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}

{% block pref_content %}
<p><h2>Change E-mail</h2>
Please enter your new e-mail address.</p>
<br />
<br />

<form method="POST" action="./">
		<div class="error">{{ emailForm.email.errors }}</div>
		<p><div class="formwidth">{{ emailForm.email.label }}:</div> {{ emailForm.email }}
</div>
        <div></p>
			<p><input type="submit" value="Change" name="Change" class="flat" /></p>
		</div>
    </form>
    {% endblock %}
</div>
</div>

{% endblock %}
