body {
    background-image: url("/static/img/bg/yellowbg.jpg");
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-position: right;
	background-repeat: repeat-y;
}

#maincontent {max-width: 674px;}

#heading h1 { 
	color: #f8c31c;
}

label {
    font-size: 1em;
	font-weight: bold;
}

div.f-container + div.f-container{
    margin-top: 1.5em;
	min-width: 100px;
}

form#create_issue { 
    border: none;
    background: none;
    padding: none;
}

#text {
    width: 100%;
    margin: 1em 1em 1em 0em;
    padding: 1em;
    background: #ededed;
	border: 1px solid #cacaca;
}

#desc {
	margin-bottom: 0px;
	margin-top: 1em;
}

#fields {
    width: 200px;
    margin-top: 4.65em;
    padding: .75em;
    background: none;
	border: 1px solid #cacaca; 
	
}

#id_description {
    width: 100%;
    overflow: auto;
}

.item-selector {
	margin-right: 2em;
}

#addCC {
    background-color: #99CC99;
}

#invSpecific {
	margin-top: 1.5em;
}

#probs {
	margin-top: 1.25em;
}

.prob-types-item {
	float: left;
	width: 15em;
}

#title label {
    margin-right: .5em;
}

#relatedList ul {
    font-size: 0.9em;
    margin-left: 0.1em;
    padding-left: 1em;
}

#relatedList ul li {
    margin: 0;
    padding: 0;
}

h3 .boldblacklabel {margin-bottom: clear;}

.asmSelect {
	float: right;
	margin-right: 120px;
	margin-bottom: 100px;
}

.selectlable { float: left;}

.unselectedlable {float:right;}

.help {float: right; padding: 2px 0 0 5px;}

#listofprobs {}