html, body {
    background-image: url("/static/img/bg/createbg.jpg");
	background-attachment: fixed;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-position: right;
	background-repeat: repeat-y;
}

label {
    font-size: 1em;
	font-weight: bold;
}

label.required {
    color: black;
}

div.f_container + div.f_container{
    margin-top: 2em;

}

form#create_issue { 
    border: none;
    background: none;
    padding: none;
}

#text {
    width: 45em;
    margin: 1em .5em 1em 0em;
    padding: 1em;
    background: #ededed;
	border: 1px solid #cacaca;
}

#desc {
	margin-bottom: 0px;
	margin-top: 1em;
}

#fields {
    width: 12em;
    margin-top: 5.25em;
    padding: .5em;
    background: none;
	border: 1px solid #cacaca; 
	
}

textarea#id_description {
    width: 100%;
    overflow: auto;
}


#it_block {
	float: left;
	margin-right: 2em;
}

#group_block {
	float: left;
	margin-right: 2em;
}

#item_block {
	float: left;
	margin-right: 2em;
}

#id_cc {
    height: 5em;
}

#addCC {
    background-color: #99CC99;
}

#invSpecific {
	margin-top: 1.5em;
}

#probs {
	margin-top: 1.5em;
}


.prob-types-item {
	float: left;
	width: 15em;
}

.floatleft {
	float: left

#title label {
    margin-right: 1em;
}


