label {
    font-size: 1.2em;
}

div.f_container + div.f_container{
    margin-top: 2em;
}

form#create_issue { 
    border: 1px grey dotted;
    background: #BBFFBB;
    /* width: 73em; */
    padding: 1em;
}

#text {
    width: 45em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}

#desc {
	margin-bottom: 0px;
}

#fields {
    width: 25em;
    margin: 1em;
    padding: 1em;
    /* border: 1px #CCCCCC dotted; */
    background: #BBFFBB;
}

textarea#id_description {
    width: 100%;
    overflow: auto;
}

#id_cc {
    height: 5em;
}

#addCC {
    background-color: #99CC99;
}

#probtypes {
	width: 25em;
}

#invSpecific {
	margin: 1em;
	padding: 0.2em;
}
