ul.floated { margin: 0em 0em; padding: 0px; }
ul.floated li {
    float: left;
    margin: 0 0 10px 0;
    padding: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
    display: inline;
}

div.comment {
    max-width: 700px;
    border: 1px dotted #000;
    margin-bottom: 5px;
}

div.post_date { background: #DDD; }

span.date { font-size: 10px; }

div.history { margin: 0.5em 0em; }
div.history ul { padding: 0px; margin: 0px; }
div.history ul li { padding: 0px; margin: 0em 0em 0em 1em; }

#issue {
	margin-top: 1em;
	max-width: 700px;
}
#title {
	padding-left: .5em;
}

#description {
    padding: .5em;
    min-width: 600px;
    min-height: 300px;
    border: 1px #000000 solid;
	background-color: #ffffff;
}

#info {
    padding: .5em 0em;
    margin-top: 5em;
    margin-bottom: .5em;
    background: #d9d9d9;
    border: 1px #333333 solid;
}
#info2 {
    padding: .75em .5em 1em .75em !important;
    margin-bottom: .5em;
    background: #DDFFDD;
    border: 1px #FFFFFF solid;
}

#problems {
    padding: .5em;
    background: #FFCCAA;
    border: 1px #000000 solid;
    margin: 1.7em 1em 1em 0em;
}
#problems h3 {
    margin: 0px;
    display: inline;
}
#problems ul { display: inline; }
#problems ul li { margin: 0px 1em 2px; }

form#post_comment {
	width: 700px;
	border: 1px solid #000000;
	background-color: #d9d9d9;
}
div#main_issue { float: left; width: 700px; }
#description { margin-top: 0px; }

div#right_side_bar {
    float: left;
    width: 220px;
    margin: 0px; 
    padding: 3.8em 0px 0px 0px;
}

div#right_side_bar > * {
    padding: .75em .5em 0em .75em; 
    margin: 0em 0em 1em 1em;
    border: 1px #000000 solid;
}

ul#cc_list li { margin-left: 1em; }

div#history_box {
    min-height: 300px;
    background-color: #fffb8b;
}

input#addCC_user { width: 10em; }

input#addCC {
}

div.action_msg {
    padding: 0px;
    margin: 0px 0px 0px 2em;
}

select#id_problem_type {
}

div#itemUpdate {
	margin-left: 1em;
}

#itemUpdate li {
	margin-bottom: 1em;
}

.description_label {
   font-weight: bold;
   font-size: 12px;
}
