html, body {
    background-image: url("/static/img/bg/bluebg.jpg");
	background-attachment: fixed;
	background-position: right;
	background-repeat: repeat-y;
}

#heading h1 { 
	color: #1171bd;
}

.listtitle { font-weight: bold; }

.indentlist {
	
	list-style-type: none;
	margin-left: 10px;
	padding-left: 0;
}


.box {
	margin-top: 1em;
	padding: 0.5em;
    background-color: #EDEDED;
	border: 1px solid #cacaca;
}

#maincontent { max-width: 700px; }
