{% extends "base_full.html" %}
{% block title %}Searching{% endblock %}
{% block pageCSS %}@import url('/static/css/adv_search.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="/js/search.js"></script>{% endblock %}
{% block content %}
<div id="query">
    <div id="query_items">
        <form id="search" method="POST" action="">
            <ul id='query_list' class='struct'>
            </ul>
            <input type='submit' name='action' value='Search' />
            <div id='query_add'>
                {{add_query.fields.label}} {{ add_query.fields }}
                <input type="submit" class='query_add' name='action' value='+' />
            </div>
        </form>
    </div>
</div>
{% endblock %}

