    <div id="cc_box">
		<h4 class='boldblacklabel'>CC:</h4>
		<span class="help help">
                CC's will be saved when you submit changes to the Issue
        </span>

        {# If javascript is enabled the form will be hidden, otherwise the normal ul and stuff will appear #}
		<div class="block-if-js">
			<div>	
                <input type="text" id="addCC_user" class="flatbox small_text" />
				<input type="submit" value="Add" name="Add" id="addCC" class="flat" />
			</div>
			<ul id='cc_list' class="struct">{% for cc in issue.cc.all %}
				<li><a href="javascript: false;" class="dropCC" 
						id="cc_{{cc.id}}" title="Remove {{cc}} from CC">x</a> <span>{{cc}}</span></li>{% endfor %}
			</ul>
			<ul class="errorl"></ul>
		</div>
        <div id='update_cc' class="none-if-js"> 
			{{ update_issue_form.cc }}
		</div>

	</div>
