{% extends "base_full.html" %}

{% block pageCSS %}@import url('{{ MEDIA_URL }}css/IssueTracker/create.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="{{ MEDIA_URL }}js/IssueTracker/create.js"> </script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/prob_types.js"> </script>{% endblock %}

{% block heading %}New Issue{% endblock %}

{% block content %}
<form method='post' id="create_issue">
    <div id="text" class="left">
        <div id='title' class="f_container">
            <label for="{{form.title.name}}" label class="floatleft">{{form.title.label}}</label>
            <div>{{form.title}}</div>
            {{ form.title.errors }}
        </div>
        
	
    <!-- Use fancier problem selection if the user has javascript powers -->
    <div class='tags block_if_js'>
        <h42>Problems Selected</h42>
        <div id='tagged'>
            <ul class='inline'>
            </ul>
        </div>

        <h42>Probelms Unused</h42>
        <div id='untagged'>
            <ul class='inline'>
                {% for problem in problem_types %}
                    <li class='tag'>{{ problem }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>	
	
	
	<div id="desc" class="f_container">
            <label for="{{form.description.name}}">{{form.description.label}}</label>
            <div>{{form.description}}</div>
            {{ form.description.errors }}
        </div>
    </div>

    <div id="fields" class="left">
        <div class='f_container' id="it_block">
            <label for="{{form.it.name}}">{{ form.it.label }}</label>
			<div>
				{{ form.it }}
                {% if form.it.errors %}{{ form.it.errors }}
                {% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
        </div>
        
	
	<div class='f_container' id="group_block">
            <label for="{{form.group.name}}">{{ form.group.label }}</label>
			<div>
				{{ form.group }}
                {% if form.group.errors %}{{ form.group.errors }}
                {% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
        </div>
        
	
	<div class='f_container' id="item_block">
            <label for="{{form.item.name}}">{{ form.item.label }}</label>
			<div>
				{{ form.item }}
                {% if form.item.errors %}{{ form.item.errors }}
                {% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
        </div>
        
	
	<div class='none_if_js f_container'>
            <label for="{{form.problem_type.name}}">{{ form.problem_type.label }}</label>
            <div>{{ form.problem_type }}</div>
        </div>
	
	
	<div class='f_container' id='cc_block'>
            <label for="{{form.cc.name}}">{{ form.cc.label }}</label>
            <div class='none_if_js'>{{ form.cc }}</div>
            <div class='block_if_js'> 
                <div>
                    <input type="text" id="addCC_user" class="small_text" />
                    <input type="button" value="Add" name="Add" id="addCC" class="flat" />
                </div>
                <ul id='cc_list' class="struct"></ul>
                {% if form.cc.errors %}{{ form.cc.errors }}
                {% else %}<ul class="errorlist"></ul>{% endif %}
            </div>
        </div>
	
	
	
    </div>

    <br class="clear" />
    
<!-- i took the pinks from here -->

    <!-- Use fancier problem selection if the user has javascript powers -->
	<div id="lowerInfo">
		<div id="invSpecific" class="left">
		</div>
	</div>

    <br class="clear" />

    <input type="submit" name="submit" value="Submit" />
    <input type="reset" id="reset" value="Reset" />
</form>
{% endblock %}
