{% extends "base_full.html" %}

{% block pageCSS %}
@import url('{{ MEDIA_URL }}css/jquery/jquery.asmselect.css');
@import url('{{ MEDIA_URL }}css/IssueTracker/create.css');
{% endblock %}

{% block pageJS %}<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.asmselect.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/IssueTracker/create.js"></script>
{% endblock %}

{% block heading-class %}create{% endblock %}
{% block heading %}New Issue{% endblock %}

{% block content %}
<form method='post' id="create_issue">
    <div id="text" class="left">
        <div id='title' class="f_container">
            <label for="id_{{form.title.name}}" class="left {% if form.title.field.required %}required{% endif %}">
				{{form.title.label}}:
			</label>
            <div class="left">
                {{form.title}}
				{% if form.title.errors %}{{ form.title.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
            </div>
        </div>
        
        <div class="f_container clear left item-selector" id="it_block">
            <label for="id_{{form.it.name}}" class="{% if form.it.field.required %}required{% endif %}">
            	{{ form.it.label }}:
            </label>
			<div>
				{{ form.it }}
                {% if form.it.errors %}{{ form.it.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
        </div>    

        
        <div class="f_container left item-selector" id="group_block">
            <label for="{{form.group.name}}">
            	<!--{{ form.group.label }}-->
                Group/Location:
            </label>
			<div>
				{{ form.group }}

				{% if form.group.errors %}{{ form.group.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
        </div>
    
	
		<div class="f_container left item-selector" id="item_block">
            <label for="id_{{form.item.name}}" class="{% if form.item.field.required %}required{% endif %}">
	            {{ form.item.label }}:
            </label>
			<div>
	            {{ form.item }}
				{% if form.item.errors %}{{ form.item.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
		</div>
    
    <br class="clear" />
    
    	<!-- Use fancier problem selection if the user has javascript powers -->
		<div id="lowerInfo">
			<div id="invSpecific" class="left">
			</div>
		</div>
    
    <br class="clear" />
    
        	<div class='f_container' id="probs">
				<label for="id_{{form.problem_type.name}}" class="{% if form.problem_type.field.required %}required{% endif %}">
					{{ form.problem_type.label }}:
			</label>
            <span class="help">{{ form.problem_type.help_text }}</span>
            
            <div>{{ form.problem_type }}
                {% if form.problem_type.errors %}{{ form.problem_type.errors }}
                {% else %}<ul class="errorlist"></ul>{% endif %}
            </div>
        </div>
    
    <br class="clear" />
    
		<div id="desc" class="f_container">
            <label for="id_{{form.description.name}}" class="{% if form.description.field.required %}required{% endif %}">
                {{ form.description.label}}:
			</label>
            <div>
                {{form.description}}
				{% if form.description.errors %}{{ form.description.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
            </div>
        </div>
    </div>
    
        
    <div id="fields" class="left">
       

		<div class='f_container' id='cc_block'>
            <label for="id_{{form.cc.name}}" class="{% if form.cc.field.required %}required{% endif %}">
                {{ form.cc.label }}:
            </label>
			<div class='none-if-js'>{{ form.cc }}</div>
			<div class='block-if-js'> 
				<div>
					<input type="text" id="addCC_user" class="small_text" />
					<input type="button" value="Add" name="Add" id="addCC" class="flat" />
				</div>
				<ul id='cc_list' class="struct"></ul>
				{% if form.cc.errors %}{{ form.cc.errors }}
				{% else %}<ul class="errorlist"></ul>{% endif %}
			</div>
		</div>

	</div>

	<br class="clear" />


    <input type="submit" name="submit" value="Submit" />
	<input type="reset" id="reset" value="Reset" />
    
</form>
{% endblock %}
