{% extends "base_full.html" %}
{% block pageCSS %}@import url('{{MEDIA_URL}}css/historylist.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>
{# <script type="text/javascript" src="/js/list.js"></script>#}
{% endblock %}

{% block heading %}Item History{% endblock %}
{% block content %}
<div>
    <h2>{{ item.name }}</h2>
    <h3>{{ item.it.name }}</h3>
</div>
{% if history %}
<table id="history">
<thead>
    <tr>
        <th class="table">ID</th>
        <th class="table">Title</th>
        <th class="table">Modified</th>
        <th class="table">Posted</th>
        <th class="table">Resolved</th>
    </tr>
</thead>
<tbody>
    {% for issue in history %}
    <tr>
        <td>{{ issue.pk }}</td>
        <td><a href="{% url IssueTracker-view issue.pk %}">{{ issue.title }}</a></td>
        <td>{{ issue.last_modified|date }} at {{ issue.last_modified|time }}</td>
        <td>{{ issue.post_time|date }} at {{ issue.post_time|time }} </td>
        {% if issue.resolve_time %}
            <td class="table">{{ issue.resolve_time|date }} at {{ issue.resolve_time|time }} </td>
        {% else %}
            <td class="table">None </td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}{% endblock %}

