{% extends "base_full.html" %}
{% block pageCSS %}@import url('/static/css/historylist.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="/static/js/jquery.tablesorter.pack.js"></script>
{# <script type="text/javascript" src="/js/list.js"></script>#}
{% endblock %}

{% block heading %}Item History{% endblock %}
{% block content %}
<div>
    <h2>{{ item.name }}</h2>
    <h3>{{ item.it.name }}</h3>
</div>
{% if history %}
<table id="history">
<thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Modified</th>
        <th>Posted</th>
        <th>Resolved</th>
    </tr>
</thead>
<tbody>
    {% for issue in history %}
    <tr>
        <td>{{ issue.pk }}</td>
        <td><a href="{% url view issue.pk %}">{{ issue.title }}</a></td>
        <td>{{ issue.last_modified|date }} at {{ issue.last_modified|time }}</td>
        <td>{{ issue.post_time|date }} at {{ issue.post_time|time }} </td>
        {% if issue.resolve_time %}
            <td>{{ issue.resolve_time|date }} at {{ issue.resolve_time|time }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}{% endblock %}

