{% extends "base_full.html" %}
{% load issue_extras %}
{% block pageCSS %}@import url('/static/css/results.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="/static/js/jquery.tablesorter.pack.js"></script>
{# <script type="text/javascript" src="/js/list.js"></script>#}
{% endblock %}

{% block heading %}Issues{% endblock %}
{% block content %}{% if page.object_list %}

{% if user.is_authenticated %}
<div id="feed">
    <img src="/static/img/rss.png" /> <span><a href="{% url issuesByAssignee user.username %}">{{ user.username }}, subscribe to your latest issues</a></span>
</div>
{% endif %}

<table id='issue_results'>
<thead>
    <tr>
		{% searchcolumn "issue_id" "ID" %}
		{% searchcolumn "title" "Title" %}
		{% searchcolumn "item" "Item Name" %}
		{% searchcolumn "group" "Group" %}
		{% searchcolumn "reporter" "Reporter" %}
		{% searchcolumn "assignee" "Assignee" %}
		{% searchcolumn "post_time" "Posted" %}
		{% searchcolumn "last_modified" "Last Modified" %}
    </tr>
</thead>
<tbody>{% for issue in page.object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td class='r_issue_id'>{{ issue.issue_id }}</td>
		<td class='r_title'><a href="{% url view issue.issue_id %}">{{ issue.title }}</a></td>
        <td class='r_item'>
            {% if issue.item %}
                <a href="{% url IssueTracker-history issue.item.pk %}">{{ issue.item }}</a>
            {% else %}
			    {{ issue.item }}
            {% endif %}
        </td>
        <td class='r_group'>{{ issue.group }}</td>
        <td class='r_reporter'>{{ issue.reporter }}</td>
        <td class='r_assignee'>{{ issue.assignee }}</td>
        <td class='r_post_time'>{{ issue.post_time|date }} at {{ issue.post_time|time }}</td>
        <td class='r_last_modified'>{{ issue.last_modified|date }} at {{ issue.last_modified|time }}</td>
    </tr>{% endfor %}
</tbody>
</table>{% else %}
<p>
{% if search_term %}
No issues were found for the given search terms '{{ search_term }}'
{% else %}No issues{% endif %}
</p>
{% endif %}{% endblock %}
