{% extends "base_full.html" %}
{% block pageCSS %}@import url('/static/css/results.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="/static/js/jquery.tablesorter.pack.js"></script>
{# <script type="text/javascript" src="/js/list.js"></script>#}{% endblock %}

{% block content %}{% if issueList %}
<div id="feed">
    <span><img src="/static/img/rss.png" /> <a href="{% url feed user.username %}">{{ user.username }}, subscribe to your personal feed</a></span>
</div>
<table id='issue_results'>
<thead>
    <tr>
        <th class='{{ cols.id.class }}'>
            <a href="?orderby=id&ometh={{ cols.id.order }}{{ extraArgs }}">ID</a>
        </th>
        <th class='{{ cols.title.class }}'>
            <a href="?orderby=title&ometh={{ cols.title.order }}{{ extraArgs }}">Title</a>
        </th>
        <th class='{{ cols.item.class }}'>
            <a href="?orderby=item&ometh={{ cols.item.order }}{{ extraArgs }}">Item Name</a>
        </th>
        <!-- <th class='{{ cols.it.class }}'>
            <a href="?orderby=it&ometh={{ cols.it.order }}{{ extraArgs }}">Inventory Type</a>
        </th> -->
        <th class='{{ cols.group.class }}'>
            <a href="?orderby=group&ometh={{ cols.group.order }}{{ extraArgs }}">Group</a>
        </th>
        <th class='{{ cols.reporter.class }}'>
            <a href="?orderby=reporter&ometh={{ cols.reporter.order }}{{ extraArgs }}">Reporter</a>
        </th>
        <th class='{{ cols.assignee.class }}'>
            <a href="?orderby=assignee&ometh={{ cols.assignee.order }}{{ extraArgs }}">Assignee</a>
        </th>
        <th class='{{ cols.post_time.class }}'>
            <a href="?orderby=post_time&ometh={{ cols.post_time.order }}{{ extraArgs }}">Posted</a>
        </th>
        <th class='{{ cols.last_modified.class }}'>
            <a href="?orderby=last_modified&ometh={{ cols.last_modified.order }}{{ extraArgs }}">Last Modified</a>
        </th>
    </tr>
</thead>
<tbody>{% for issue in issueList %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td class='{{ cols.id.class }}'>{{ issue.issue_id }}</td>
		<td class='{{ cols.title.class }}'><a href="{% url view issue.issue_id %}">{{ issue.title }}</a></td>
        <td class='{{ cols.item.class }}'>{{ issue.item }}</td>
        <!-- <td class='{{ cols.it.class }}'>{{ issue.it }}</td> -->
        <td class='{{ cols.group.class }}'>{{ issue.group }}</td>
        <td class='{{ cols.reporter.class }}'>{{ issue.reporter }}</td>
        <td class='{{ cols.assignee.class }}'>{{ issue.assignee }}</td>
        <td class='{{ cols.port_time.class }}'>{{ issue.post_time|date }} at {{ issue.post_time|time }}</td>
        <td class='{{ cols.last_modified.class }}'>{{ issue.last_modified|date }} at {{ issue.last_modified|time }}</td>
    </tr>{% endfor %}
</tbody>
</table>{% else %}
<p>
{% if search_term %}
No issues were found for the given search terms '{{ search_term }}'
{% else %}No issues{% endif %}
</p>
{% endif %}{% endblock %}
