{% extends "base_full.html" %}
{% load issue_extras %}
{% block pageCSS %}@import url('{{MEDIA_URL}}css/IssueTracker/results.css');{% endblock %}
{% block pageHead %}<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.pack.js"></script>
{# <script type="text/javascript" src="/js/list.js"></script>#}
{% endblock %}

{% block heading-class %}view{% endblock %}
{% block heading %}Issues{% endblock %}
{% block content %}
{% if not no_results %}
	{% block issueListContent %}
	{% issueList page.object_list %}
	{% endblock %}
{% else %}
<p>
{% if search_term %}
No issues were found for the given search terms '{{ search_term }}'
{% else %}No issues{% endif %}
</p>
{% endif %}{% endblock %}
