{% extends "base_full.html" %}
{% load issue_extras %}

{% block pageCSS %}
@import url('{{MEDIA_URL}}css/jquery/jquery.asmselect.css');
@import url('{{MEDIA_URL}}css/IssueTracker/view.css');
@import url("{{MEDIA_URL}}js/jquery/jquery-1.8.14/css/smoothness/jquery-ui-1.8.14.custom.css");
{% endblock %}

{% block pageJS %}<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.asmselect.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/IssueTracker/view.js"></script>
{% endblock %}

{% block heading-class %}view{% endblock %}
{% block heading %}Viewing Issue{% endblock %}
{% block content %}
<div id="main_issue">

       <div id="issue">
		<div id="title" class="greybox">
			<span class="number_color">{{ issue.pk }}</span> <span class="main_title">{{ issue.title|escape }}</span> <span class="reporter">{{ issue.reporter }}</span> <span class="time">{{ issue.post_time|date }} {{ issue.post_time|time }}</span>
		</div>
			
		<div class="whitebox">
			<ul class="specinfo struct">
				<li>
					<ul class="struct inlineblock">
						<li>
							<h6 class="label-title">Type:</h6>
							<div class="labeled">{{ issue.it }}</div>
                        </li>
						<li>
	                        <h6 class="label-title">Group/Location:</h6>
							<div class="labeled">{{ issue.group }}</div>

						</li>
						<li>
							<h6 class="label-title">Name:</h6>
							<div class="labeled">
								{% if issue.item %}
									<a href="{{ issue.item.item.get_absolute_url }}">
										{{ issue.item }}
									</a>
								{% else %}
									{{ issue.item }}
								{% endif %}
							</div>
						</li>
					</ul>
				</li>
				<li>
					<ul class="struct inlineblock">
						<li>
							<h6 class="label-title">Assigned to:</h6>
							<div class="labeled">{{ issue.assignee }}</div>
						</li>
						<li>
							<h6 class="label-title">State:</h6>
							<div class="labeled">{{ issue.resolved_state }}</div>
						</li>
						<li>
							<h6 class="label-title">Contacts:</h6>
							<div class="labeled">{% contact issue %}</div>
						</li>
					</ul>
				</li>
			</ul>

			<br class="clear" />

			<div id="invspecView">
				{% invspec issue %}
			</div>
            
            <br class="clear clear_ie" />
            <br class="clear" />
		</div>


	</div>


    <form id="post-comment" method="post" action="{% url IssueTracker-view issue.pk %}">
         <div id = "notice">{% if valid_form %} <ul class="message">Issue is updated successfully</ul>{% endif %}
         </div>


    	<div id="prob-type-block" class="greybox">
            <label for="{{update_issue_form.problem_type.name}}" class="boldblacklabel selectlable">
				{{ update_issue_form.problem_type.label }}:
			</label>
			
            <span class="help help2">Select one or more problems</span>
            
             <label for="" class="boldblacklabel unselectedlable block" >
				Unselected:
			</label>
            
			<div id="listofprobs">{{ update_issue_form.problem_type }}</div>
			
            <br class="clear ie_gone" />
		</div>


		<div id="desbox" class="greybox clear">
			<h6 class="label-title" class='label'>Description:</h6>
			<p id="description">{{ issue.description|escape|linebreaks }}</p>
		</div>

        <div id="reproducebox" class="greybox clear">
			<h6 class="label-title" class='label'>Steps to reproduce:</h6>
			<p id="steps">{{issue.steps|escape|linebreaks}}</p>
		</div>
        <div id="attemptbox" class="greybox clear">
			<h6 class="label-title" class='label'>Attempts to fix:</h6>
			<p id="attempts">{{issue.attempts|escape|linebreaks}}</p>
		</div>

    <!--<form id="post-comment" method="post" action="{% url IssueTracker-view issue.pk %}">--> 
    <fieldset class="nothing">
        <div class="whitebox">
			<!-- <legend>Update Issue:</legend> -->

			<!-- add_comment_form, update_issue_form -->
			<ul class="struct">
				<li>
					<label class="boldblacklabel spaces blocktext" for='id_{{update_issue_form.assignee.name}}'>
						Assign To:
					</label>
					{{ update_issue_form.assignee }}
					{% if update_issue_form.assignee.errors %}{{ update_issue_form.assignee.errors }}
					{% else %}<ul class="errorlist"></ul>{% endif %}
				</li>
				<li>
					<label class="boldblacklabel blocktext" for='id_{{update_issue_form.resolved_state.name}}'>
					Resolve:
					</label> 
					{{ update_issue_form.resolved_state }}
					{% if update_issue_form.resolved_state.errors %}{{ update_issue_form.resolved_state.errors }}
					{% else %}<ul class="errorlist"></ul>{% endif %}
				</li>
			</ul>

			<div id="main-update" class="left clear">
				<div>
					<label for='id_comment' style='display: block;' class="boldblacklabel margintop">
						{{ add_comment_form.comment.label }}:
					</label>
					<div>
						{% if add_comment_form.comment.errors %}
						{{ add_comment_form.comment.errors }}
						{% endif %}
					</div>
					<textarea id="id_comment" name="{{ add_comment_form.comment.name }}"></textarea>
				</div>
			</div>

			<div id="itemUpdate">
				{% if extra_form %}
				<ul class="struct">
					{{ extra_form.as_ul }}
				</ul>
				{% endif %}
			</div>
			<br class="clear" />

			{% if comment_errors %}{{ comment_errors }}{% endif %} <br class="clear" />
		</div>
			<br class="clear" />
			<input type="submit" name="submit" value="Submit" class="flat" />

		</fieldset>
	</form>

	<ul id="comments" class="struct">
		{% for post in comments %}
		<li id='post_{{ post.pk }}'  class="greybox" class="postedcomment clear">
			<div class='post_date'>
				{{ post.time|date }} at {{ post.time|time }} by {{ post.user }}
			</div>
			{{ post.comment|escape|linebreaks }}
		</li>
		{% endfor %}
	</ul>
    
</div>

<!-- Right side bar -->
<div id="right-side-bar">

	<!-- Stuff involving the CC list -->
	<div id="cc_box" class="whitebox">{% include "IssueTracker/cc_list.html" %}</div>

	<div id="history_box" class="whitebox">
		{% include "IssueTracker/issue/history.html" %}
	</div>
</div>
<br class='clear' />

{% endblock %}
