{% extends "admin/base_site.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Home</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}

{% block content %}
<br />
<p>Enter date in the form YYYY-MM-DD.</p>
<form action="" method="POST">{% csrf_token %}

{{ mod_date_form.as_p }}

<br />
<input type="hidden" name="action" value="{{ selected_action }}" />
<input type="submit" name="set" value="Set date" />

</form>
{% endblock %}
